.about .content h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #000066;
}
.about .content p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #000;
}
.read_more {
    max-width: 160px;
    margin-top: 20px;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000066;
    border-color: #000066;
    font-size: 18px;
    transition: 0.5s;
}
.read_more:hover {
    background: #0101a5;
}