.documents {
    margin-top: 10px;
}
#doc_btn{
    margin-top: 5%;
}
.selfie_id
{
align-items: center;
margin-top:5%;
margin-bottom:5%;
}
.selfie_id h6 {
margin-top: 1%;   
margin-bottom: 1%; 
color: #006 ;
}
